@charset "UTF-8";

.footer {
  background-color: #4758ee;
  height: 17rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  color: white;
  /* position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0; */
}

.footerContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.footerCenter {
  display: flex;
  gap: 10rem;
}

.footerCenterBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerCenterBox a {
  text-decoration: none;
  color: white;
}

.footerCenterBox a:hover {
  text-decoration: underline;
}

.footerSideText {
  padding: 0.7rem;
}

.footerSide {
  /* padding-top: 1rem; */
  display: flex;
  align-items: center;
}

.footerCenterBoxTitle {
  padding-bottom: 1rem;
}
