* {
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.selectContainer {
  width: 80%;
  margin: 0 auto;
}
.contentBox {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  /* box-shadow: 0 3 3 0; */
  border-radius: 5%;
  width: 20%;
  height: auto;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.616);
}
.selectType {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.boxImage {
  width: 50%;
  height: 50%;
  border-radius: 5%;
}
.contentBox:hover {
  border: 2px solid #6a77e6;
}
