body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  width: 100%;
  height: 100vh;
}

.portfolioContainer {
  width: 60%;
  margin: 0 auto;
  padding: 5vh 0;
  text-align: center;
  margin-top: 10vh;
}

.portfolioItem {
  background-color: #ffffff;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 0.1vw solid #b0b7d2;
  cursor: pointer;
}

.portfolioItem:hover {
  transform: translateY(-0.5vw);
}

.portfolioItemImg {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-bottom: 0.2vw solid #b2c4b2;
}

.portfolioItemH3 {
  font-size: 1.1vw;
  color: #333;
  padding: 1vh 1vw;
  text-align: left;
}

.portfolioItem .description {
  font-size: 0.9vw;
  color: #666;
  padding: 0 1vw 1.5vh;
  text-align: left;
  line-height: 1.4em;
}

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  width: 100%;
  padding: 2vh 0;
}

.addBtn {
  background-color: #4758ee;
  color: #fff;
  padding: 1.5vh 3vw;
  font-size: 1.5vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.addBtn:hover {
  background-color: #3b4fd4;
  transform: translateY(-0.5vh);
}

.addBtn:active {
  background-color: #3645bb;
  transform: translateY(0.2vh);
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  align-items: center;
}

.pagination a {
  color: #4758ee;
  padding: 0.5vh 1vw;
  text-decoration: none;
  border: 0.1vw solid #ddd;
  margin: 0 0.5vw;
  border-radius: 1vw;
  font-size: 1vw;
}

.pagination a.active {
  background-color: #4758ee;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a:first-child,
.pagination a:last-child {
  font-size: 1vw;
}

.pagination a:nth-child(2),
.pagination a:nth-child(13) {
  font-size: 1.5vw;
  padding: 0 1vw 0.5vh 1vw;
}

/* modal style */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: move;
  display: flex;
  justify-content: center;
}

.contentBox {
  background-color: #ffffff;
  width: 85%;
  height: 80%;
  padding: 3vh;
  border-radius: 1vh;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 1vh;
  right: 1vw;
  font-size: 2.5vh;
  cursor: pointer;
  transition: color 0.3s;
}

.closeButton:hover {
  color: #3645bb;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}

.buttonBox button {
  padding: 1vh 2vw;
  margin-top: 2vh;
  border: none;
  border-radius: 0.8vh;
  background-color: #4758ee;
  color: white;
  font-size: 1.4vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteBtn {
  width: 70%;
}

.buttonBox button:hover {
  background-color: #3645bb;
}

.mbrPrtflTtl,
.mbrPrtflText {
  color: #333;
}

.mbrPrtflTtl {
  font-weight: bold;
  font-size: 3vh;
}

.mbrPrtflText {
  font-size: 1.5vh;
}

.weight {
  color: #4758ee;
  font-size: 2vh;
}

.attachFileList {
  font-size: 1.4vh;
  color: #666;
}

/* portfolio register modal */
.modal2 {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.modalContent2 {
  background-color: #fff;
  margin: 15vh auto;
  padding: 4vh 4vw;
  border-radius: 2vh;
  width: 50vw;
  box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: move;
  display: flex;
  justify-content: center;
}

.contentBoxArea {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.closeButton2 {
  color: #aaa;
  position: absolute;
  top: 3vh;
  right: 3vw;
  font-size: 2vh;
  cursor: pointer;
}

.closeButton2:hover,
.closeButton2:focus {
  color: #000;
}

.contentBox2 {
  background-color: #ffffff;
  width: 40vw;
  padding: 3vh;
  border-radius: 1vh;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
}

.summaryBox {
  display: flex;
  flex-direction: column;
}

.about {
  font-size: 1.5vh;
  color: #333;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 1.2vh;
  border: 0.15vh solid #ccc;
  border-radius: 0.5vh;
  font-size: 1.5vh;
}

.textLineTextarea {
  min-height: 10vh;
  resize: vertical;
}

.textLine {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 2vh 0;
}

.imageUpload {
  margin-top: 3vh;
  padding: 1.5vh;
  background-color: #f9f9f9;
  border: 0.2vh dashed #ccc;
  border-radius: 0.5vh;
  text-align: center;
  width: calc(100% - 3vh);
  overflow: hidden;
}

.uploadPreview {
  margin-top: 1.5vh;
  background-color: #eaeaea;
  width: 100%;
  height: 20vh;
  border-radius: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 1.5vh;
}

.signupBtn {
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  background-color: #4758ee;
  border-radius: 0.5rem;
  color: white;
}
