.modalContent {
  width: 20vw;
  background: white;
  border-radius: 5%;
  padding: 5%;
  box-shadow: 0 0 10vw rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.formGroup label {
  font-size: 1vh;
  margin-bottom: 0.5vh;
}

.formGroup input {
  font-size: 1vh;
  padding: 0.5vh;
  border: 0.25vh solid #ddd;
  border-radius: 1vh;
  width: 100%;
}

.warning {
  font-size: 1vh;
  color: red;
  margin-top: 0.25vh;
}

.error {
  color: red;
  font-size: 1vh;
  text-align: center;
  margin-top: 0.5vh;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.confirmButton,
.cancelButton {
  flex: 1;
  padding: 1vh;
  font-size: 1vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

.confirmButton {
  background: #4758ee;
  color: white;
}

.confirmButton:hover {
  background: #3645bb;
}

.cancelButton {
  background: #ddd;
  color: black;
}

.cancelButton:hover {
  background: #bbb;
}
