.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mail {
  border-radius: 1vw;
  padding: 4vh;
  width: 97%;
  height: 95%;
  background-color: #fff;
  overflow: hidden;
}

.mailWrapper {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0 1vw,
    #d51122 0 2vw,
    transparent 0 3vw,
    #2770cb 0 4vw
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52vw;
  height: 47vh;
  border-radius: 1vw;
  box-shadow: inset 0 0 1px 1px rgb(9 0 80 / 0.2),
    inset 0 -2px 1px rgb(9 0 80 / 0.1), 0 1px 2px rgb(9 0 80 / 0.2),
    0 1px 8px rgb(9 0 80 / 0.1);
  background-color: white;
}

.mailTitle {
  margin-bottom: 1vh;
  font-weight: 600;
  color: #2770cb;
}

.mail-field {
  display: block;
  width: 100%;
  font-style: italic;
}

.mail-field:not(.content) {
  margin-bottom: 8px;
  background-image: linear-gradient(#a2a0ae 0 1px);
  background-position-y: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.mail-field.content {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0 calc(1.5em - 1px),
    #a2a0ae calc(1.5em - 1px) 1.5em
  );
  background-attachment: local;
  resize: none;
}

.mail-field::placeholder {
  font-style: normal;
  color: #b5b2c6;
}

.mail-content-section {
  display: flex;
  column-gap: 1.5em;
  align-items: stretch;
  margin-top: 1.5em;
}

.emailBtn {
  padding: 1vh 2vw;
  margin-top: 2vh;
  border: none;
  border-radius: 0.8vh;
  background-color: #4758ee;
  color: white;
  font-size: 1.4vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSection {
  display: flex;
  justify-content: space-between;
}
