@charset "UTF-8";

.headerContainer {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: white;
  height: 15vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.headerBtn {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.borderLine {
  border-top: 2px solid rgb(206, 206, 206);
}

.login {
  background-color: #4758ee;
  border-radius: 15px;
  border: none;
  width: 7rem;
  color: white;
  height: 3rem;
  box-shadow: 2px 2px 5px rgb(42, 55, 228);
  cursor: pointer;
}

.signUp {
  border-radius: 15px;
  border: none;
  width: 7rem;
  height: 3rem;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.616);
  cursor: pointer;
  color: black;
}

.login:hover {
  background-color: #263aed;
}

.signUp:hover {
  background-color: rgb(236, 236, 234);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 30rem;
  /* border: 1px solid black; */
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2rem;
  z-index: 100;
}

.loginModalImgArea {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.loginModalContainer {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

input {
  background-color: white;
  /* text-align: center; */
  border: 1px solid #999797;
  border-radius: 5px;
  padding-left: 1rem;
}

.signinBox {
  /* text-align: center; */
  border-radius: 5px;
  /* box-shadow: 5px 5px 10px 2px rgb(190, 189, 189); */
  max-width: 500px;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
}

.sameBox {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: 100%;
  position: relative;
}

.sameBox > input {
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px gray;
  height: 3.5rem;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease;
}

.sameBox > input::placeholder {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: transparent;
}

.sameBox > label {
  position: absolute;
  top: 50%;
  left: 1rem;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}

.sameBox > input:focus + label,
.sameBox > input:not(:placeholder-shown) + label {
  top: 0.5rem;
  left: 1rem;
  font-size: 0.8rem;
  color: #aaa;
  transform: translateY(50%);
}

.sameBox > button {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  /* box-shadow: 0px 1px 5px gray; */
}

.signinButton:hover {
  background-color: #263aed;
}

.signinButton {
  background-color: #4758ee;
  color: white;
  font-size: 1rem;
  font-weight: 800;
}

.accountMenu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.accountMenuText:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  font-weight: 800;
}

.loginModalBtns {
  width: 80%;
  margin: 0 auto;
}

.modalCloseBtn {
  position: absolute;
  right: 7%;
  cursor: pointer;
  font-size: 1.5rem;
}
