* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
input {
  background-color: white;
  text-align: center;
  border: 1px solid #999797;
  border-radius: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 999; /* 다른 요소 위에 표시 */
}
.signinBox {
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(190, 189, 189);
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.sameBox {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: 100%;
}
.sameBox > input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px gray;
}
.sameBox > button {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 5px gray;
}
button:hover {
  background-color: #a6bde4;
  transition: all;
}
.signinButton {
  background-color: #4785ee;
  color: white;
}
.accountMenu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
  list-style: none;
  padding: 1rem;
}
.sinBox {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
