@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  align-items: stretch;
}

.contentBox {
  margin-top: 5vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 0px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 5vh;
}

.functionLine {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1vh;
  margin-right: 1vh;
}

.writeBtn {
  display: flex;
  background-color: #4758ee;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border-radius: 0.25rem;
  color: white;
  border: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.8vh;
  font-weight: 700;
}

input:hover {
  background-color: #1d32ec;
}

.postListBox {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: none;
  margin-top: 10px;
  font-size: 1.3vh;
}

.subjectLine {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1.3fr 1fr;
  border-bottom: 1px solid #e4e4e7;
}

.subjectLine:first-child {
  border-top: 3px solid rgb(90, 90, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.subjectLine div {
  display: flex;
  border-left: 1px solid #e4e4e7;
  justify-content: center;
  align-items: center;
  min-height: 4vh;
}

.subjectLine div:nth-child(1) {
  grid-column: 1/2;
  border-left: none;
  justify-content: center;
  align-items: center;
}

.subjectLine div:nth-child(2) {
  grid-column: 2/3;
}

.subjectLine div:nth-child(3) {
  grid-column: 3/4;
}

.subjectLine div:nth-child(4) {
  grid-column: 4/5;
}

.subjectLine div:nth-child(5) {
  grid-column: 5/6;
}

.subjectLine div:nth-child(6) {
  grid-column: 6/7;
}

.pageLine {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pageLine input {
  background-color: #ffffff00;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
}

.redBox {
  display: flex;
  background-color: red;
  color: white;
  height: 1.5rem;
  font-weight: 900;
  align-items: center;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  justify-content: center;
  border-radius: 0.5vh;
}

.title {
  text-decoration: none;
  color: black;
}

.mainTitle {
  font-size: 3vh;
  font-weight: 700;
  margin-top: 3vh;
  padding-left: 1vw;
  margin-bottom: 2vh;
  margin-right: 1vh;
}

.title:hover {
  text-decoration: underline;
}

.pageLine input:hover {
  color: blue;
}

.test {
  align-items: center;
}

.pageDiv {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.prePageBtn {
  display: flex;
}

.pageNumberBtn {
  display: flex;
  gap: 10px;
}

.nextPageBtn {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* .numberBox {
	border: 1px solid black;
	background-color: gray;
} */
