.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: #f9f9f9;
}

.contentBox {
  margin-top: 3rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 2.5rem;
}

.title {
  display: flex;
  font-size: 3.2vh;
  font-weight: 900;
  margin-top: 1vh;
  margin-left: 1vw;
}

.functionLine {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1.3vh;
}

.postWritingBox {
  width: 100%;
  height: 40rem;
  display: flex;
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  flex-direction: column;
}

#genre {
  display: flex;
  text-align: center;
}

.firstLine {
  display: flex;
  margin-bottom: 1vh;
  height: 4vh;
}

.isPublic {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  min-width: 4rem;
}

#title {
  display: flex;
  border: solid 1px #e4e4e7;
  outline: none;
  font-size: 13px;
  padding-left: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.writingPlace {
  display: flex;
  grid-column: 1/-1;
  grid-row: 2/-1;
  text-align: left;
  border: solid 1px #e4e4e7;
  outline: none;
  flex-grow: 1;
}

.buttonImage {
  width: 24px;
}

#save {
  width: 20px;
}

.buttonColor {
  background-color: #007bff;
  display: flex;
  align-items: center;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
}

.buttonImage {
  filter: brightness(100);
}

.whiteText {
  color: white;
  font-weight: 700;
}
.ql-editor {
  min-height: 300px;
  font-size: 16px;
  line-height: 1.5;
}

.ql-toolbar {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.writingPlace {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  text-align: left;
  border: solid 1px #e4e4e7;
  outline: none;
  flex-grow: 1;
  flex-direction: column;
}
.togleBtn {
  display: flex;
  width: 5rem;
  justify-content: center;
}
.togleText {
  display: flex;
  align-items: center;
}
