.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #4758ee;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #a9a9a9; /* 비활성화된 버튼 색상 */
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #3a4bc4; /* 버튼 호버 색상 */
}

.pagination button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(71, 88, 238, 0.5); /* 포커스 시 강조 효과 */
}
