@charset "UTF-8";

.mainContainerHeader {
  display: flex;
  gap: 1rem;
}

.mainContainer {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

.mainTitle1 {
  color: rgb(167, 166, 166);
  cursor: pointer;
}

.mainTitle2 {
  color: rgb(167, 166, 166);
  cursor: pointer;
}
