.cardContainer {
  width: 50vw;
  margin-top: 2vh;
}

.applySection {
  margin: 1vh auto;
  padding: 1vh 1vw;
  width: 60%;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}

.projectInfo {
  margin: 1vh auto;
  padding: 1vh 1vw;
  margin-top: 20vh;
  width: 62%;
}

.projectInfo p {
  font-size: 1vw;
  margin: 1vh 0;
}

.mainBold {
  color: #4758ee;
  font-weight: bold;
}

.companyList {
  margin-top: 2vh;
}

.company {
  padding: 2vh 2vw;
  margin-bottom: 6vh;
  background-color: #f9f9f9;
  border-left: 1vw solid;
  border-radius: 1vw;
}

/* 지원 상태별 색깔 구분 */
.accepted {
  border-left-color: #28a745;
}

.rejected {
  border-left-color: #dc3545;
}

.pending {
  border-left-color: #4758ee;
}
/* 지원 상태별 색깔 구분 */

.company h3 {
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

.company p {
  font-size: 1vw;
  margin: 1vh 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1vh 1.5vw;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}

.accept {
  background-color: #28a745;
}

.accept:hover {
  background-color: #218838;
}

.reject {
  background-color: #dc3545;
}

.reject:hover {
  background-color: #c82333;
}

.viewDetails {
  background-color: #4758ee;
}

.viewDetails:hover {
  background-color: #3545c5;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  align-items: center;
}

.pagination a {
  color: #4758ee;
  padding: 0.5vh 1vw;
  text-decoration: none;
  border: 0.1vw solid #ddd;
  margin: 0 0.5vw;
  border-radius: 1vw;
  font-size: 1vw;
}

.pagination a.active {
  background-color: #4758ee;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a:first-child,
.pagination a:last-child {
  font-size: 1vw;
}

.pagination a:nth-child(2),
.pagination a:nth-child(13) {
  font-size: 1.5vw;
  padding: 0 1vw 0.5vh 1vw;
}

.addRecruitment {
  background-color: rgb(247, 160, 0);
  /* padding: 1rem; */
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}
