* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projectRegisterTitle {
  font-size: 3rem;
}

.projectRegisterPage {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.projectRegisterArea {
  width: 60%;
}

.projectRegister {
  /* height: 100vh; */
  padding: 2rem;
  border-radius: 20px;
  border: solid 1px #b0babf;
  background-color: #f5f5f5;
  padding-top: 5rem;
}

.projectCategory {
  align-items: center;
  display: grid;
  grid-template-columns: 3.78rem 10rem 1fr 0.3rem 1fr;
  grid-template-rows: 3.78rem;
}

.projectSectionNum {
  width: 3.78rem;
  height: 3.78rem;
  /* margin: 0 12px 0 0; */
  padding: 0.8rem;
  border-radius: 50%;
  border: solid 8px #f9f5ff;
  background-color: #f4ebff;
  font-weight: bold;
  flex-basis: auto;
}

.projectSectionName {
  font-weight: bold;
  flex-basis: 8rem;
  flex-shrink: 0;
}

.levelCategoryArea {
  display: flex;
}

.levelCategory {
  /* margin-left: 1rem; */
  flex-grow: 1;
  width: 5rem;
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
}

.searchInput {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

/* .projectRegister > div {
    display: flex;
  } */

.projectTitle,
.projectContents,
.projectSchedule,
.projectSkillSize,
.projectPrice,
.projectApplyPeriod,
.fileAttachment,
.projectTeamSize {
  display: grid;
  grid-template-columns: 3.78rem 10rem 1fr;
  grid-template-rows: 3.78rem;
  align-items: center;
  /* margin-top: 1.2rem; */
  /* gap: 1rem; */
}

.projectContents {
  margin-top: 1rem;
}

.projectTitle {
  margin-top: 1rem;
}

.projectSchedule {
  margin-top: 1rem;
  display: flex;
  grid-template-columns: 3.78rem 8rem 1fr;
  grid-template-rows: 3.78rem;
  align-items: center;
}

.projectTitleInput {
  /* margin-left: 1rem; */
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  width: 100%;
  outline: none;
}

.label {
  font-weight: bold;
  margin-left: 1.55vw;
}

.dateInput {
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

#finishDate {
  margin-left: 10rem;
}

.projectContents {
  /* display: flex; */
  grid-template-rows: 30.56rem;
  align-items: flex-start;
  /* width: 100%; */
}

.projectSkillSize {
  grid-template-rows: 30rem;
  align-items: flex-start;
}

.projectContents > .projectSectionName {
  padding-top: 1.3rem;
}

.projectContentsArea {
  display: flex;
  align-items: flex-start;
  /* margin-top: 2rem; */
}

/* .projectContentsArea > .projectSectionName {
    margin-top: 1rem;
  } */

.projectContentsInputArea {
  /* display: flex; */
  width: 100%;
  align-items: center;
  /* margin-left: 3rem; */
}

.projectContentsInput {
  /* display: flex; */
  width: 100%;
  height: 50vh;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  background-color: #fff;
  outline: none;
}

.projectAmount {
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  background-color: #fff;
  outline: none;
}

.projectMemberCount {
  outline: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  background-color: #fff;
}

.importantMessageArea {
  display: block;
  text-align: right;
}

.importantMessage {
  display: inline-block;
  /* margin-left: 50rem; */
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #835101;
  border-radius: 0.2rem;
  background-color: #f8dd4e;
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

.projectRegisterBtn {
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  /* width: 10rem; */
}

.projectRegisterBtn:hover {
  background-color: #3749d9;
}

.cancleBtn {
  margin-left: 0.5rem;
  padding: 1rem 2.3rem;
  border-radius: 5rem;
  border: solid 1px #000;
  background-color: #fff;
}

.cancleBtn > span {
  font-weight: bold;
}

.fileBox {
  /* display: flex; */
  gap: 1rem;
}

input {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

.searchInput {
  padding: 0.5rem;
  width: 27.7rem;
  padding-left: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
  } */

.faSolid {
  position: absolute;
  left: 0.7rem;
  top: 0.5rem;
  color: gray;
}

.searchBox {
  position: relative;
}

.resultBox {
  position: relative;
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 2;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  max-height: 10rem;
  margin: 0;
}

.recommendSkill {
  border: 1px solid #b0babf;
  background-color: white;
  padding: 1rem;
}

.skillStackBox {
  width: 27.7rem;
}

.skillCircle {
  border-radius: 2rem;
  width: 4rem;
  background-color: #dfdddd;
  text-align: center;
  padding: 0.3rem;
  color: rgb(102, 101, 101);
  cursor: pointer;
}

.selected {
  background-color: #66ccff;
  color: white;
}

.skillBoxContainer {
  padding: 1rem 0;
}

.skillCircleBox {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.resultSkillAddBox {
  padding-top: 1rem;
  border-top: 1px solid gray;
  height: 13rem;
  color: gray;
  overflow-y: auto;
}

/* 에러 메시지 스타일 */
.errorMessage {
  color: red;
  font-size: 12px; /* 원하는 폰트 사이즈로 조절 */
  margin-top: 5px;
}

/* 입력 필드 오류 시 테두리 스타일 */
.inputError {
  border-color: red;
}
