* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projectRegisterPage {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  padding-bottom: 2rem;
}

.projectRegisterArea {
  width: 60%;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projectRegister {
  padding: 2rem;
  border-radius: 20px;
  /* border: solid 1px #b0babf; */
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
}

.projectCategory {
  align-items: center;
  display: grid;
  grid-template-columns: 3.78rem 10rem 1fr 0.3rem 1fr;
  grid-template-rows: 3.78rem;
}

.projectSectionNum {
  width: 3.78rem;
  height: 3.78rem;
  padding: 0.8rem;
  border-radius: 50%;
  border: solid 8px #f3ebff;
  background-color: #e5d1fd;
  font-weight: bold;
  flex-basis: auto;
}

.projectSectionName {
  font-weight: bold;
  flex-basis: 8rem;
  flex-shrink: 0;
}

.levelCategoryArea {
  display: flex;
}

.levelCategory {
  flex-grow: 1;
  width: 5rem;
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
}

.searchInput {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

.projectTitle,
.projectContents,
.projectSchedule,
.projectPrice,
.projectApplyPeriod,
.fileAttachment,
.projectTeamSize {
  display: grid;
  grid-template-columns: 3.78rem 8rem 1fr;
  grid-template-rows: 3.78rem;
  align-items: center;
}

.projectTitleInput {
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #dde2e4;
  /* background-color: #fff; */
  width: 100%;
  outline: none;
  background-color: #f9f9f9;
}

.label {
  font-weight: bold;
}

.dateInput {
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

#finishDate {
  margin-left: 10rem;
}

.projectContents {
  grid-template-rows: 30.56rem;
  align-items: flex-start;
}

.projectContents > .projectSectionName {
  padding-top: 1.3rem;
}

.projectContentsArea {
  display: flex;
  align-items: flex-start;
}

.projectContentsInputArea {
  width: 100%;
  align-items: center;
  background-color: #fff;
}

.projectContentsInput {
  width: 100%;
  height: 30rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  /* background-color: #fff; */
  background-color: #f9f9f9;
  outline: none;
}

.projectAmount {
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  background-color: #fff;
  outline: none;
}

.projectMemberCount {
  outline: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px #e4e4e7;
  background-color: #fff;
}

.importantMessageArea {
  display: block;
  text-align: right;
}

.importantMessage {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #835101;
  border-radius: 0.2rem;
  background-color: #f8dd4e;
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

.projectApplyBtn {
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.projectApplyBtn:hover {
  background-color: #3749d9;
}

.projectRegisterBtn > span {
  font-weight: bold;
  color: #fff;
}

.cancleBtn {
  margin-left: 0.5rem;
  padding: 1rem 2.3rem;
  border-radius: 5rem;
  border: solid 1px #000;
  background-color: #fff;
}

.cancleBtn > span {
  font-weight: bold;
}

input {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}

.projectEditBtn {
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.projectEditBtn:hover {
  background-color: #3749d9;
}

.projectCancelBtn {
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.projectCancelBtn:hover {
  background-color: #3749d9;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.inputError {
  border-color: red;
}
