@charset "UTF-8";
.project_card {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/* .card-form {
  padding-bottom: 20rem;
} */

/* .projectfind-page {
  height: 100vh;
} */
.project_list {
  margin-top: 10rem;
}

.project_box {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.project_box:hover {
  box-shadow: 0px 2px 10px gray;
}

.project_box:hover .status_recruiting,
.project_box:hover .status_additional-recruiting,
.project_box:hover .status_ing,
.project_box:hover .status_done,
.project_box:hover .status_end {
  transform: translateY(-7px);
}

.status_recruiting {
  /* background-color: #ddf8dd; */
  color: #509957;
  border: 1px solid #509957;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}

.status_additional_recruiting {
  /* background-color: #f8fba8; */
  color: #a7bc07;
  border: 1px solid #d5e84c;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}

.status_ing {
  /* background-color: #ffecd5; */
  color: #f3aa55;
  border: 1px solid #f3aa55;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}

.status_done {
  /* background-color: #f8e6e6; */
  color: #fa6666;
  border: 1px solid #f88585;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}

.status_recruiting:hover,
.status_additional_recruiting:hover,
.status_ing:hover,
.status_done:hover,
.status_end:hover {
  transform: translateY(-10px);
}

button.cancel_project {
  padding: 0.5rem 1rem;
  background-color: #908e8e;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: 0px 6px 3px 0 rgba(61, 59, 59, 0.2);
  transition: transform 0.5s ease;
}

button.cancel_project:hover {
  background-color: rgb(91, 90, 90);
  transform: translateY(-10px);
}

.project_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.project_head_front {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.post_date {
  color: gray;
}

.project_body {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 10vh;
  align-items: center;
  margin-bottom: 2%;
}

.project_body_title {
  margin-bottom: 1rem;
}

.project_body_content {
  display: flex;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.circle-box {
  display: flex;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blue;
  border-radius: 50%;
}

.sidebar {
  height: 5vh;
  border-right: 2px solid lightgray;
}

.project_footer {
  display: flex;
  justify-content: space-between;
}

.button_box {
  display: flex;
  align-items: center;
  width: 17%;
}

.estimated_amount {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.half_sidebar {
  height: 2vh;
  border-right: 2px solid lightgray;
}

.apply {
  padding: 0.5rem 0.2rem;
  background-color: #4758ee;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 80%;
  font-size: 1.2rem;
  transition: transform 0.5s ease;
  font-weight: 800;
}

.apply:hover {
  background-color: #263aea;
  transform: translateY(-5px);
}

@media (max-width: 1700px) {
  .project_head-front {
    width: 60%;
  }

  .status {
    font-size: 1rem;
  }

  .bold {
    font-size: 1rem;
  }

  .estimated-amount {
    font-size: 1rem;
  }

  button.apply {
    font-size: 1rem;
  }

  .project_body_box {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .option {
    font-size: 0.7rem;
  }

  input::placeholder {
    font-size: 0.8rem;
  }

  .project_body_box {
    font-size: 0.6rem;
  }

  .circle {
    width: 0.3rem;
    height: 0.3rem;
  }

  .estimated-amount {
    font-size: 0.6rem;
  }

  .sidebar {
    height: 3vh;
  }

  .half-sidebar {
    height: 1vh;
  }

  .bold {
    font-size: 0.8rem;
  }

  .project_head-front > h2 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .search-menu {
    flex-direction: column;
  }

  .project_category {
    display: flex;
  }

  .option {
    font-size: 0.4rem;
  }

  .level-category {
    margin-left: 0;
    font-size: 0.2rem;
  }

  .project_body_box {
    font-size: 0.3rem;
  }

  .circle {
    width: 0.1rem;
    height: 0.1rem;
  }

  .estimated-amount {
    font-size: 0.3rem;
  }

  .sidebar {
    height: 1vh;
  }

  .half-sidebar {
    height: 0.5vh;
  }

  .bold {
    font-size: 0.4rem;
  }

  .project_head-front > h2 {
    font-size: 0.5rem;
  }

  input::placeholder {
    font-size: 0.2rem;
  }
}

h2 {
  cursor: pointer;
}

h2:hover {
  text-decoration: underline;
  color: #7681e6;
}

.status_end {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}
