@charset "UTF-8";
.projectCard {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.skillList {
  display: flex;
  flex-wrap: wrap;
}

.skillItem {
  flex-grow: 1;
  text-align: center;
}

.dot {
  margin-right: 5px;
}
/* .cardForm {
  padding-bottom: 20rem;
} */

/* .projectFindPage {
  height: 100vh;
} */
.projectList {
  margin-top: 10rem;
}

.projectBox {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.projectBox:hover {
  box-shadow: 0px 2px 10px gray;
}

.projectBox:hover .statusRecruiting,
.projectBox:hover .statusAdditionalRecruiting,
.projectBox:hover .statusIng,
.projectBox:hover .statusDone,
.projectBox:hover .statusEnd {
  transform: translateY(-7px);
}

.statusRecruiting {
  /* background-color: #ddf8dd; */
  color: #509957;
  border: 1px solid #509957;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
  text-align: center;
}

.statusAdditionalRecruiting {
  /* background-color: #f8fba8; */
  color: #a7bc07;
  border: 1px solid #d5e84c;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
  text-align: center;
}

.statusIng {
  /* background-color: #ffecd5; */
  color: #f3aa55;
  border: 1px solid #f3aa55;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
  text-align: center;
}

.statusDone {
  /* background-color: #f8e6e6; */
  color: #fa6666;
  border: 1px solid #f88585;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
  text-align: center;
}

.statusRecruiting:hover,
.statusAdditionalRecruiting:hover,
.statusIng:hover,
.statusDone:hover,
.statusEnd:hover {
  transform: translateY(-10px);
}

button.cancelProject {
  padding: 0.5rem 1rem;
  background-color: #908e8e;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: 0px 6px 3px 0 rgba(61, 59, 59, 0.2);
  transition: transform 0.5s ease;
}

button.cancelProject:hover {
  background-color: rgb(91, 90, 90);
  transform: translateY(-10px);
}

.projectHead {
  display: flex;
  width: 100%;
}

.projectHeadFront {
  width: 100%;
  display: grid;
  grid-template-columns: 14% 5% 61% 5% 15%;
  align-items: center;
  margin-bottom: 1rem;
}

.postDate {
  color: gray;
  /* flex-wrap: wrap; */
  float: right;
}

.projectBody {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 10vh;
  align-items: center;
  margin-bottom: 2%;
}

.projectBodyTitle {
  margin-bottom: 1rem;
}

.projectBodyContent {
  display: flex;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.circleBox {
  display: flex;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blue;
  border-radius: 50%;
}

.sidebar {
  height: 5vh;
  border-right: 2px solid lightgray;
}

.projectFooter {
  display: flex;
  justify-content: space-between;
}

.buttonBox {
  display: flex;
  align-items: center;
  width: 17%;
}

.estimatedAmount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.halfSidebar {
  /* border-right: 2px solid lightgray;
  padding: 1rem; */
  position: relative;
}

.halfSidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 2px;
  height: 2rem;
  background-color: lightgray;
}

.apply {
  padding: 0.5rem 0.8rem;
  background-color: #4758ee;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  /* width: 80%; */
  font-size: 1.2rem;
  transition: transform 0.5s ease;
  font-weight: 800;
}

.apply:hover {
  background-color: #263aea;
  transform: translateY(-5px);
}

/* @media (max-width: 1700px) {
  .projectHeadFront {
  }

  .status {
    font-size: 1rem;
  }

  .bold {
    font-size: 1rem;
  }

  .estimatedAmount {
    font-size: 1rem;
  }

  button.apply {
    font-size: 1rem;
  }

  .projectBodyBox {
    font-size: 0.8rem;
  }
} */

/* @media (max-width: 1024px) {
  .option {
    font-size: 0.7rem;
  }

  input::placeholder {
    font-size: 0.8rem;
  }

  .projectBodyBox {
    font-size: 0.6rem;
  }

  .circle {
    width: 0.3rem;
    height: 0.3rem;
  }

  .estimatedAmount {
    font-size: 0.6rem;
  }

  .sidebar {
    height: 3vh;
  }

  .halfSidebar {
    height: 1vh;
  }

  .bold {
    font-size: 0.8rem;
  }

  .projectHeadFront > h2 {
    font-size: 1rem;
  }
} */

/* @media (max-width: 768px) {
  .searchMenu {
    flex-direction: column;
  }

  .projectCategory {
    display: flex;
  }

  .option {
    font-size: 0.4rem;
  }

  .levelCategory {
    margin-left: 0;
    font-size: 0.2rem;
  }

  .projectBodyBox {
    font-size: 0.3rem;
  }

  .circle {
    width: 0.1rem;
    height: 0.1rem;
  }

  .estimatedAmount {
    font-size: 0.3rem;
  }

  .sidebar {
    height: 1vh;
  }

  .halfSidebar {
    height: 0.5vh;
  }

  .bold {
    font-size: 0.4rem;
  }

  .projectHeadFront > h2 {
    font-size: 0.5rem;
  }

  input::placeholder {
    font-size: 0.2rem;
  }
} */

h2 {
  cursor: pointer;
}

h2:hover {
  text-decoration: underline;
  color: #7681e6;
}

.statusEnd {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 800;
  /* box-shadow: 1px 5px 3px 0 rgba(29, 28, 28, 0.2); */
  transition: transform 0.5s ease;
}
