@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  position: relative;
}

.reg {
  width: 60%;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  padding: 15rem 0;
  align-items: center;
  justify-content: center;
}

.regTitleMent {
  font-size: 3.3rem;
  font-weight: bold;
  padding: 1rem;
}

.regSmallMent {
  display: flex;
  color: gray;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.regBtn {
  background-color: #4758ee;
  border-radius: 15px;
  border: 1px solid #4758ee;
  width: 15rem;
  color: white;
  height: 4rem;
  box-shadow: 2px 2px 5px rgb(42, 55, 228);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

.regBtn:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
}

.regBtnArea {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.regBtn:hover {
  background-color: #263aed;
}

.secondSection {
  background-color: #d9dae4;
  height: 100vh;
  text-align: center;
}

.secondSectionTitle {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  color: #505050;
}

.secondSectionBox {
  padding-top: 3rem;
  transform: scale(0.8);
}

.cards {
  padding: 8rem 0;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  justify-content: space-between;
}

.cardImg {
  border-radius: 15px;
  height: 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  height: 100%;
  background-color: #bad4fc;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 4px 4px 4px #9fc0f1;
  overflow: hidden;
  position: relative;
}

.card1 {
  height: 100%;
  background-color: #bad4fc;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 4px 4px 4px #9fc0f1;
  overflow: hidden;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(54, 59, 104, 0.9);
  transform: scaleY(2);
  opacity: 0;
}

.card1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e2edfd;
  transform: scaleY(2);
  opacity: 0;
}

.card:hover::after {
  transform: scale(1.1);
  transition: all 0.1s ease;
  opacity: 1;
}

.card1:hover::after {
  transform: scale(1.1);
  transition: all 0.1s ease;
  opacity: 1;
}

.cardText {
  padding: 1.5rem;
}

.card:hover .cardCaption {
  opacity: 1;
  z-index: 1;
}

.card1:hover .cardCaption1 {
  opacity: 1;
  z-index: 1;
}

.cardCaption {
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
  line-height: 2.5rem;
  font-size: 1.3rem;
}

.cardCaption1 {
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 800;
  line-height: 2.5rem;
  font-size: 1.3rem;
}

.thirdSection {
  height: 100vh;
  background-color: #b2bbff;
}

.thirdSectionTitle {
  font-size: 3rem;
  font-weight: bold;
  padding: 5rem;
  color: #505050;
}

.thirdSectionBox {
  width: 80%;
  margin: 0 auto;
  transform: scale(0.85);
}

.thirdSectionCards {
  padding: 5rem 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.thirdSectionCard {
  width: 17rem;
  height: 20rem;
  border-radius: 15px;
  background-color: #e1e3f6;
  text-align: center;
  box-shadow: 4px 4px 4px #949ce6;
}

.thirdSectionCardHeader {
  height: 55%;
  padding: 3rem;
}

.thirdSectionCardBody {
  height: 45%;
  line-height: 1.7rem;
  font-weight: 500;
}

.thirdSectionCardHeaderTitle1 {
  font-size: 1.7rem;
  font-weight: bold;
}

.thirdSectionCardHeaderTitle2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.thirdSectionCardHeaderTitle3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.thirdSectionCard:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
  cursor: text;
}

.fourthSection {
  height: 100vh;
  transform: scale(0.8);
}

.fourthSectionContainer {
  width: 79%;
  margin: 0 auto;
}

.fourthSectionTitle {
  font-size: 3rem;
  font-weight: bold;
  padding: 5rem;
  color: #505050;
}

.fourthSectionBox {
  width: 70%;
  margin: 0 auto;
}

.fourthSectionText {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
}

.fourthSectionText::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: black;
  transition: width 0.3s;
}

.fourthSectionText:hover {
  cursor: pointer;
}

.fourthSectionText:hover::after {
  width: 100%;
}

.fourthSectionBox1 {
  padding: 2rem 3rem 2rem 4rem;
  box-shadow: 2px 2px 2px 3px rgb(206, 202, 202);
  background-color: #cadbf4;
}

.fourthSectionBox2 {
  padding: 1.5rem;
}

.fourthSectionBoxQna {
  color: #4758ee;
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
}

.fourthSectionBoxQna:hover {
  color: #1a2ff1;
}

.fourthSectionBoxQnaArea {
  padding: 2rem 0;
  float: right;
}

.fourthSectionBoxQnaArea:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
}

.fifthSection {
  height: 100vh;
  position: relative;
  width: 70%;
  margin: 0 auto;
  transform: scale(0.9);
}

.fifthSectionContainer {
  display: flex;
  padding: 15rem 0 0 0;
  margin: 0;
  justify-content: center;
  gap: 9rem;
}

.fifthSectionTitle {
  font-size: 3rem;
  align-items: center;
  font-weight: 800;
}

.fifthSectionBtn {
  background-color: #4758ee;
  border-radius: 15px;
  border: none;
  width: 18rem;
  color: white;
  height: 5rem;
  box-shadow: 2px 2px 5px rgb(42, 55, 228);
  cursor: pointer;
  font-size: 1rem;
}

.fifthSectionBtnArea {
  display: flex;
  align-items: center;
}

.fifthSectionBtn:hover {
  transform: scale(1.1, 1.1);
  background-color: #263aed;
  transition: transform 0.3s;
}

.pageupBtn {
  float: right;
  border-radius: 30rem;
  box-shadow: 3px 3px 5px 3px gray;
  font-size: 3rem;
  cursor: pointer;
}

.pageupBtn:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.fifthSectionBtnArea {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 7rem;
}
