.policyContainer {
  width: 60%;
  max-width: 80vw;
  margin: 5vh auto;
  padding: 5vh 5vw;
  background: linear-gradient(to bottom, #ffffff, #f0f4ff);
  border-radius: 2vw;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  color: #4758ee;
  margin-bottom: 4vh;
  text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.15);
}

.policyContent {
  color: #333333;
  font-size: 1vw;
  line-height: 1.8;
}

.section {
  margin-bottom: 4vh;
  padding: 2vh 2vw;
  background: #f8f9ff;
  border-left: 0.8vw solid #4758ee;
  border-radius: 1vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.05);
}

.sectionTitle {
  font-size: 1.2vw;
  color: #4758ee;
  margin-bottom: 2vh;
  font-weight: bold;
}

.list {
  margin-left: 3vw;
  padding: 0;
}

.list li {
  margin-bottom: 1.5vh;
  font-size: 1vw;
  color: #333;
}

.highlight {
  background-color: #4758ee;
  color: white;
  padding: 0.3vw 1vw;
  border-radius: 0.5vw;
  font-weight: bold;
}

strong {
  color: #4758ee;
}
