.termsContainer {
  max-width: 80%;
  margin: 5vh auto;
  padding: 4vh 5vw;
  background: linear-gradient(to bottom, #ffffff, #eef3ff);
  border-radius: 2vw;
  box-shadow: 0 1.5vh 3vw rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 4vw;
  color: #4758ee;
  text-align: center;
  margin-bottom: 4vh;
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.15);
}

.termsContent {
  color: #333333;
  line-height: 1.8;
  font-size: 1.2vw;
}

.section {
  margin-bottom: 4vh;
  padding: 2vh 2vw;
  background: rgba(71, 88, 238, 0.05);
  border-radius: 1vw;
}

.sectionTitle {
  font-size: 2.5vw;
  color: #4758ee;
  margin-bottom: 2vh;
  border-left: 0.8vw solid #4758ee;
  padding-left: 2vw;
  font-weight: bold;
  background: #eef3ff;
  border-radius: 1vw;
}

.list {
  list-style: disc;
  margin-left: 4vw;
  padding: 1vh 0;
}

.list li {
  margin: 1.5vh 0;
  font-size: 1.2vw;
  color: #333333;
}
