@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.entire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: white;
  width: 100%;
}

.findPwd {
  width: 30rem;
  height: 25rem;
}

.title {
  font-size: 1.5rem;
  color: black;
}

.container {
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.containerHeader {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.email {
  padding: 1rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.email::placeholder {
  color: #999;
  padding-left: 0;
}

.email:hover {
  border: 1px solid #4758ee;
}

.email:focus {
  border: 1px solid #4758ee;
  outline: none;
}

.containerBody {
  padding: 2rem 2rem;
  height: 60%;
}

.emailBox {
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.formMsg {
  padding-bottom: 2rem;
  color: gray;
}

.submitBtn {
  width: 100%;
  padding: 1rem;
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.submitBtn:hover {
  background-color: #2033da;
}

.authBtn {
  background-color: #4758ee;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.authBtn:hover {
  background-color: #2033da;
}

.errorPwd {
  font-size: 0.8rem;
  color: red;
}

.errorConfirmPwd {
  font-size: 0.8rem;
  color: red;
}
