/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* 리뷰 리스트 */
.reviewList {
  width: 70%;
  margin: 2vh auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 리뷰 제목 */
.reviewTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* 검색창 */
.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.searchInput {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #4758ee;
}

/* Sort options */
.sortOptions {
  display: flex;
  gap: 1vw;
}

.sortOption {
  color: #4758ee;
  background-color: #fff;
  border: 0.1vw solid #4758ee;
  font-size: 0.7vw;
  padding: 0.5vh 1vw;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sortOption:hover {
  background-color: #4758ee;
  color: #fff;
}

.sortOption.active {
  background-color: #4758ee;
  color: white;
  border: none;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.pagination a {
  color: #4758ee;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a.active {
  background-color: #4758ee;
  color: #fff;
}

.pagination a:hover {
  background-color: #ddd;
}
