.review-list {
  margin-top: 8vh;
}

.review-title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.review {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 1rem;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 1%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-image {
  border-radius: 50%;
  width: 10%;
}

img {
  width: 100%;
  height: 100%;
}

.review-content {
  max-width: 30%;
  word-wrap: break-word;
  word-break: break-word;
}

.no-review-message {
  text-align: center;
}

/* ë³„ css */
.fa-star,
.fa-star-half-alt,
.far.fa-star {
  color: #ffd700;
}

.report {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 1vw;
  border: none;
  font-size: 0.8vw;
  padding: 0.8vh 1vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.report:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.report:focus {
  outline: none;
}

.more-button-box {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

.more-button {
  padding: 1vh 1vw;
  border: none;
  border-radius: 5vw;
  background-color: #2196f3;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.more-button:hover {
  background-color: #1769aa;
  transform: translateY(-2px);
}
